.card {
  height: 400px;
  width: 300px;
  text-align: center;
  border-radius: 16px;
  background-color: #27292d;
  box-shadow: 15px 20px 33px -3px rgba(0, 0, 0, 0.84);
  /* animation-name: flip;
  animation-duration: 4s;
  backface-visibility: hidden; */
}

/* @keyframes flip {
  0%,
  100% {  
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
} */

a {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 200px;
  margin: 0;
  padding: 0;
  font-weight: 100;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-nav {
  padding: 10px;
  background-color: #321588;
  display: flex;
  align-items: center;
  border-radius: 16px 16px 0 0;
}

.arrow-home {
  height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* position: relative; */
  top: 180px;
  left: 100px;
}
