.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.top-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
  padding: 1vw 0;
}

.top-buttons > a {
  transition: all 1s;
}

.top-buttons > a > button {
  width: 200px;
  color: white;
  padding: 20px 40px;
  border-radius: 8px;
  outline: none;
  background-color: #321588;
  border: none;
  box-shadow: 15px 20px 33px -3px rgba(0, 0, 0, 0.84);
  cursor: pointer;
}

.top-buttons > a :hover {
  transform: translate(0, -10px);
  transition: all 0.3s;
}
