body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.todo-cal {
  display: flex;
  padding: 2rem;
}

.todo-cal > section {
  margin-left: 1rem;
  margin-top: 0.2rem;
  margin-right: 2rem;
  font-size: 14px;
  color: rgb(56, 58, 199);
  font-weight: bold;
}




.cards {
  margin-right: 10rem;
}


.cards > section {
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  grid-gap: 1rem;
  gap: 1rem;
}

.cards > section > div {
  margin-left: 2rem;
  height: 20rem;
  width: auto;
  border-radius: 0.5rem;
  border: 0.0625rem solid #dadce0;
}

.cards > section > div > article {
  height: 6rem;
  border-radius: 0.5rem 0.5rem 0 0;
  color: white;
}

.cards > section > div > div {
  height: 10rem;
  border: 0.0625rem solid #dadce0;
}

.cards > section > div > footer {
  display: flex;
}

.cards > section > div > footer > section {
  margin-left: auto;
}

.cards > section > div > footer > section > * {
  padding: 1rem;
}

.card {
  position: relative;
}

/* .card > article {
  position: relative;
} */

.card > article > div {
  position: absolute;
  text-overflow: ellipsis;
  background-color: white;
  color: gray;
  font-weight: lighter;
  right: 1rem;
  top: 3rem;
  font-size: 0;
  width: 0;
  border-radius: 0.5rem;
}

.card > article > div > h4 {
  padding: 0.3rem;
  margin: 0;
  margin-right: 3rem;
}

#person {
  position: absolute;
  right: 1rem;
  top: 3.5rem;
  font-size: 5rem;
  background-color: rgb(201, 199, 199);
  border-radius: 50%;
}

#dot {
  float: right;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.cards > section > div > article > h2 {
  margin: 0;
  overflow: hidden;
  font-weight: lighter;
  padding: 1rem 1rem 0 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cards > section > div > article > h5 {
  margin: 0;
  overflow: hidden;
  font-weight: lighter;
  padding: 0.1rem 0 0 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cards > section > div > article > h4 {
  margin: 0;
  overflow: hidden;
  font-weight: lighter;
  padding: 0.5rem 0 0 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}
