@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");

.navbar {
  display: flex;
  padding: 1.1%;
  font-family: "Product Sans", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.button-nav {
  display: none;
  position: absolute;
  top: 50px;
  right: 20px;
  padding: 10px;
  background-color: #27292d;
}

.button-nav > button {
  width: auto;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  outline: none;
  background-color: #321588;
  border: none;
  box-shadow: 15px 20px 33px -3px rgba(0, 0, 0, 0.84);
  cursor: pointer;
}

.button-nav:hover {
  display: inline-block;
}
.avatar-nav:hover + .button-nav {
  display: inline-block;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo > section {
  font-family: "East Sea Dokdo", cursive;
  font-size: 40px;
  color: grey;
}

.logo > section:hover {
  color: white;
}

@media screen and (max-width: 480px) {
  .logo > section {
    display: none;
  }
}
