.navbar {
  display: flex;
  padding: 1.1%;
  font-family: "Product Sans", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  justify-content: space-between;
  align-items: center;
  font-size: calc((3vh + 1.5vw) / 2);
}

.right {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.right > div > a{
  display : flex;
  gap : 5px;
  align-items: center;
  background-color: #321588;
  padding : 10px;
  border-radius: 5px;
  box-shadow: 15px 20px 30px -5px rgba(0, 0, 0, 0.6);
}
