.creator-room > div {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #321588;
  width: 300px;
  border-radius: 16px;
  justify-content: space-evenly;
  gap: 10px;
  box-shadow: 15px 20px 33px -3px rgba(0, 0, 0, 0.84);
}

.creator-room > div > section {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.creator-room {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.right-room {
  display: flex;
  align-items: center;
  gap: 10px;
}

.choose-file {
  display: flex;
  justify-content: center;
  padding: 20px;
}

input[type="file"] {
  display: none;
}

label {
  padding: 15px;
  background: #321588;
  color: #fff;
  cursor: pointer;
  box-shadow: 15px 20px 33px -3px rgba(0, 0, 0, 0.84);
  border-radius: 16px;
}

.choose-file > div {
  display: flex;
  gap: 20px;
}

.images-col {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.images-col > img {
  cursor: pointer;
  transition: 0.3s;
}

.cross-image {
  display: none;
  position: absolute;
  right: 20vw;
  cursor: pointer;
}

.chossing-collection {
  display: flex;
  justify-content: center;
}

.cross-image > section > img {
  position: relative;
  bottom: -10vh;
}

.input-room {
  position: fixed;
  bottom: 10px;
  left: 15vw;
  padding: 10px;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-room > input {
  outline: none;
  border: none;
  padding: 10px;
  width: 50vw;
  background-color: #2d2f33;
  color: white;
}

.input-room > img {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .cross-image {
    right: 7vw;
  }
  .input-room > section {
    display: none;
  }
}
